.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .default {
    background-color: $blue;
    &:hover {
      background-color: lighten($blue, 15%);
    }
  }
  
  .error {
    background-color: $red;
    &:hover {
      background-color: lighten($red, 15%);
    }
  }
  
  .info {
    background-color: $purple;
    &:hover {
      background-color: lighten($purple, 15%);
    }
  }
  
  .success {
    background-color: $pear;
    &:hover {
      background-color: lighten($pear, 15%);
    }
  }
  
  .warning {
    background-color: $orange;
    &:hover {
      background-color: lighten($orange, 15%);
    }
  }